@using QuanLyCongVan.Areas.Admin.Models.DispatchManagement.Schema
@{
    ViewBag.Title = "Dispatch info";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    bool isInsert = ViewBag.Dispatch != null ? true : false;
    DispatchData data = ViewBag.DispatchData;
    NewDispatch dispatch = ViewBag.Dispatch;
}
@section css{
    @Styles.Render("~/public/css/admin/dispatchMaster")
}
@section scripts{
    <script>
        var url = {
            editDispatch: '@Url.RouteUrl("EditDispatch")'
        }
        var isInsert = '@(isInsert ? "true" : "false")';
    </script>
    @Scripts.Render("~/public/js/admin/dispatchMaster")
}
<div class="page-title">
    <div class="title_left">
        <h3>@(isInsert ? "Edit new dispatch" : "Create dispatch")</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Information</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal input_mask" id="form-dispatch-main" enctype="multipart/form-data" action="@Url.RouteUrl("SaveDispatch")" accept-charset="UTF-8" method="post">
                    @if (isInsert)
                    {
                        <input type="hidden" id="IdDispatch" name="Id" value="@(dispatch.Id.ToString())" />
                    }
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="SoKyHieu">Số ký hiệu<span class="text-required">*</span></label>
                                <input type="text" class="form-control required" maxlength="100" tabindex="1" name="SoKyHieu" id="SoKyHieu" placeholder="Số ký hiệu" rows="2" value="@(isInsert ? dispatch.SoKyHieu : "")" />
                            </div>
                        </div>
                        <div class=" col-md-6 col-sm-6 col-xs-12">
                            <label for="NgayBanHanh" class="white-label">Ngày ban hành<span class="text-required">*</span></label>
                            <div class="input-group datetimepicker mb-5">
                                <input type="tel" class="form-control date required" id="NgayBanHanh" name="NgayBanHanh" maxlength="8" tabindex="2" value="@(isInsert ? dispatch.NgayBanHanh.ToString("dd/MM/yyyy") : "")" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="IdLoaiVanBan">Loại văn bản<span class="text-required">*</span></label>
                                <select class="form-control" name="IdLoaiVanBan" id="IdLoaiVanBan" tabindex="3">
                                    @if (data.LoaiVanBans.Count > 0)
                                    {
                                        foreach (var item in data.LoaiVanBans)
                                        {
                                            <option value="@item.Id" @(isInsert ? dispatch.IdLoaiVanBan == item.Id ? "selected='selected'" : "" : "")>@item.TenLoaiVanBan</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="IdLoaiCongVan">Loại công văn<span class="text-required">*</span></label>
                                <select class="form-control" name="IdLoaiCongVan" id="IdLoaiCongVan" tabindex="4">
                                    @if (data.LoaiCongVans.Count > 0)
                                    {
                                        foreach (var item in data.LoaiCongVans)
                                        {
                                            <option value="@item.Id" @(isInsert ? dispatch.IdLoaiCongVan == item.Id ? "selected='selected'" : "" : "")>@item.TenLoaiCongVan</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row cvd-area hidden">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="SoCongVanDen">Số công văn đến</label>
                                <input type="text" class="form-control" maxlength="100" tabindex="5" name="SoCongVanDen" id="SoCongVanDen" placeholder="Số công văn đến" rows="2" value="@(isInsert && dispatch.SoCongVanDen != null ? dispatch.SoCongVanDen.ToString() : "")" />
                            </div>
                        </div>
                        <div class=" col-md-6 col-sm-6 col-xs-12">
                            <label for="NgayCongVanDen" class="white-label">Ngày công văn đến</label>
                            <div class="input-group datetimepicker mb-5">
                                <input type="tel" class="form-control date" id="NgayCongVanDen" name="NgayCongVanDen" maxlength="8" tabindex="6" value="@(isInsert && dispatch.NgayCongVanDen!=null ? dispatch.NgayCongVanDen.ToString() : "")" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="IdCoQuanBanHanh">Cơ quan ban hành<span class="text-required">*</span></label>
                        <select class="form-control" name="IdCoQuanBanHanh" id="IdCoQuanBanHanh" tabindex="7">
                            @if (data.CoQuanBanHanhs.Count > 0)
                            {
                                foreach (var item in data.CoQuanBanHanhs)
                                {
                                    <option value="@item.Id" @(isInsert ? dispatch.IdCoQuanBanHanh == item.Id ? "selected='selected'" : "" : "")>@item.TenCoQuanBanHanh</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="IdLinhVuc">Lĩnh vực<span class="text-required">*</span></label>
                        <select class="form-control" name="IdLinhVuc" id="IdLinhVuc" tabindex="8">
                            @if (data.LinhVucs.Count > 0)
                            {
                                foreach (var item in data.LinhVucs)
                                {
                                    <option value="@item.Id" @(isInsert ? dispatch.IdLinhVuc == item.Id ? "selected='selected'" : "" : "")>@item.TenLinhVuc</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="TrichYeu">Trích yếu<span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="1000" tabindex="9" name="TrichYeu" id="TrichYeu" placeholder="Trích yếu" rows="1">@(isInsert ? dispatch.TrichYeu : "")</textarea>
                    </div>

                    <div class="form-group">
                        <label for="NoiDung">Nội dung<span class="text-required">*</span></label>
                        <textarea class="form-control required" maxlength="1000" tabindex="10" name="NoiDung" id="NoiDung" placeholder="Nội dung" rows="10">@(isInsert ? dispatch.NoiDung : "")</textarea>
                    </div>
                    <div class="form-group">
                        <label for="FilePath">File đính kèm<span class="text-required">*</span></label>
                        @if (isInsert)
                        {
                            <a target="_blank" href="@(dispatch.FilePath)">File đính kèm.</a>
                        }
                        <div class="input-group">
                            <input class="form-control required" name="FilePath" id="FilePath" placeholder="File đính kèm" readonly="readonly" style="background: #fff !important;" value="@(isInsert ? dispatch.FilePath : "")" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" tabindex="11">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                </button>
                                <input type="file" class="file fileImg" name="FileAttach" id="FileAttach" id-view="FilePath" err-idx="0" accept=".doc,.pdf" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btn-save" tabindex="12">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>