@model QuanLyCongVan.Areas.Admin.Models.OrganizationManagement.Schema.ListOfOrganization
@{
    ViewBag.Title = "List Of Organization";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ListOfOrganization listOfOrganization = Model;
    List<Organization> OrganizationList = listOfOrganization.OrganizationList;
}
@using QuanLyCongVan.Areas.Admin.Models.OrganizationManagement.Schema
@section css{
    <link rel="stylesheet" type="text/css" href="~/public/assets/iCheck/skins/all.css">
    @Styles.Render("~/public/css/admin/listOfOrganization")
}
@section scripts{
    <script>
        var url = '@Url.RouteUrl("ListOfOrganization")'
    </script>
    @Scripts.Render("~/public/js/admin/listOfOrganization")
}
<div class="row">
    <!-- start of weather widget -->
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Điều kiện tìm kiếm</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="4"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="condition-search">
                <form class="form-horizontal input_mask" id="form-search" action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="form-Organization">
                                <label for="KeySearch">Cơ quan ban hành</label>
                                <input class="form-control" name="KeySearch" id="KeySearch" tabindex="1" value="@listOfOrganization.Condition.KeySearch" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" id="btn-search" link-search="@Url.RouteUrl("ListOfOrganization")" tabindex="3">Tìm kiếm</button>
                        </div>
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@listOfOrganization.Paging.CurrentPage" />
                        <input type="hidden" name="PageSize" id="PageSize" value="@listOfOrganization.Condition.PageSize" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách cơ quan ban hành</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" tabindex="5"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="div-table-organization">
                @Html.Partial("Partial/_tableOfOrganization", listOfOrganization)
            </div>
        </div>
    </div>
</div>