@{
    var account = QLCV.Common.XacThuc.GetAccount();
}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.RouteUrl("Admin")" class="user-profile site_title "><span id="text-logo">Quản lý công văn</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/public/img/layout-admin/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Xin chào @account.Username!</span>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br>
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <ul class="nav side-menu" style="">
                    <li class="">
                        <a href="/admin"><i class="fa fa-home"></i>Dashboard</a>
                    </li>
                    <li>
                        <a><i class="fa fa-folder-open"></i>Danh mục công văn<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.RouteUrl("ListOfDispatch")"><i class="fa fa-folder-open"></i>Danh sách công văn</a></li>
                            <li><a href="@Url.RouteUrl("CreateDispatch")"><i class="fa fa-folder-open"></i>Thêm mới công văn</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-file"></i>Danh mục loại văn bản<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.RouteUrl("ListOfDocument")"><i class="fa fa-file"></i>Danh sách loại văn bản</a></li>
                            <li><a href="@Url.RouteUrl("CreateDocument")"><i class="fa fa-file"></i>Thêm mới loại văn bản</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-newspaper-o"></i>Danh mục loại công văn<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.RouteUrl("ListOfTypeDispatch")"><i class="fa fa-newspaper-o"></i>Danh sách loại công văn</a></li>
                            <li><a href="@Url.RouteUrl("CreateTypeDispatch")"><i class="fa fa-newspaper-o"></i>Thêm mới loại công văn</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-line-chart"></i>Danh mục lĩnh vực<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.RouteUrl("ListOfFeildDispatch")"><i class="fa fa-line-chart"></i>Danh sách lĩnh vực</a></li>
                            <li><a href="@Url.RouteUrl("CreateFeildDispatch")"><i class="fa fa-line-chart"></i>Thêm mới lĩnh vực</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-university"></i>Danh mục cơ quan ban hành<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.RouteUrl("ListOfOrganization")"><i class="fa fa-university"></i>Danh sách cơ quan ban hành</a></li>
                            <li><a href="@Url.RouteUrl("CreateOrganization")"><i class="fa fa-university"></i>Thêm mới cơ quan ban hành</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout" id="btn-logout-left" link="@Url.RouteUrl("adminLogout")">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>