@{
    //CauHinh cauHinh = Common.LayCauHinh();
    //CaiDatHeThong caiDat = Common.LayCaiDat();
    //ViewBag.caiDat = caiDat;
}
@using QLCV.Database;
@using QLCV.Common;
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
   
    <link rel="shortcut icon" type="image/x-icon" href="~/public/img/favicon.png">
    <title>@ViewBag.Title - BKDN</title>
    @Styles.Render("~/public/css/userCommon")
    @RenderSection("css", required: false)
</head>
<body class="page-user">
    @RenderBody()
    <div id="call-ajax-fade">
    </div>
    @*<div id="call-ajax-content">
        <img src="~/public/img/common/page-loader.gif" class="img-loading-ajax" alt="loading" />
    </div>*@
    @Scripts.Render("~/public/js/userCommon")
    @RenderSection("scripts", required: false)
</body>
</html>
